body {
    font-family: Arial, sans-serif;
    max-width: 1000px;
    margin: auto;
    padding: 30px;
    line-height: 1.8;
}

h1 {
    color: #003366;
}

h2 {
    color: #00509e;
}

img {
    border-radius: 50%;
    width: 200px;
}
