body {
    font-family: "Times New Roman", Times, serif;
    max-width: 1000px;
    margin: auto;
    padding: 30px;
    line-height: 1.8;

    color: white;

    background-image: url("https://images.unsplash.com/photo-1462331940025-496dfbfc7564");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
h1 {
    color: #66ccff;
    text-align: center;
}

h2 {
    color: #99ddff;
}

h3 {
    color: #ffffff;
}
img {
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
    border: 3px solid #66ccff;
}
a {
    color: #66ccff;
}

a:hover {
    color: white;
}
